* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  background-color: #0000;
}

/* @font-face {
  font-family: "Oswald";
  src: url(Oswald/static/Oswald-SemiBold.ttf);
}

@font-face {
  font-family: "dancingScript";
  src: url(Dancing_Script/DancingScript-VariableFont_wght.ttf);
} */


/* 
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap'); */

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

html, body{
  padding: 0; 
  margin: 0;
  position: relative;
}

body{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}

.container{
    height: 100%;
  }

.header {
  height: 9%;
  /* background-color: #e5e5e5; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-area {
  /* background-color: #e5e5e5; */
  height: 80%;
  width: 100%;
}

.display {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  z-index: 1000;
}

input {
  width: 100%;
  height: 60%;
  /* background-color: #cb3536; */
  outline: none;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #000;
  font-size: 54px;
  /* font-family: "Oswald"; */
  border: 1px solid #777;
  background-color: #e5e5e5;
}

input::placeholder{
  color: #3b3b3b;
}

.bold {
  /* font-family: 'Oswald Regular', sans-serif; */
  font-family: 'Bebas Neue', cursive;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  background-color: #cb3536;
  color: #000;
}

.casual {
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #e5e5e5;
  color: black;
}

.formal {
  font-family: 'Times New Roman', Times, serif;
  background-color: #fff;
  color: black;
}

.techy {
  font-family: 'Courier New', Courier, monospace;
  background-color: #000000;
  color: greenyellow;
}

.sassy{
  font-family: 'Dancing Script', cursive;
  background-color: rgb(0, 149, 255);
  /* background: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(64,64,255,1) 35%, rgba(0,131,158,1) 100%); */
  color: #fff;
}

.scroller-container {
  overflow: auto;
}

.scroller {
  height: 50px;
  width: 200%;
}

.btn {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 30%;
  /* position: relative; */
  /* background-color: blanchedalmond; */
  align-items: center;
}

button {
  background-color: white;
  color: black;
  font-family: "oswald";
  width: 40%;
  height: 6vh;
  /* justify-content: center; */
  text-align: center;
  /* position: absolute; */
  /* top: 40%; */
  /* margin-top: 20px; */
  border: none;
}

.footer {
  display: flex;
  /* position: absolute; */
  /* bottom: 0; */
  height: 11%;
  width: 100%;
  /* position: fixed; */
  /* background-color: #e5e5e5; */
}

li {
  display: flex;
  width: calc(100%/4);
  justify-content: center;
  height: 60%;
  align-items: center;
  border: 1px solid white;
}

ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
}

/* li ul{
    border: 1px solid #000;
    border-spacing: 0;
  } */

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}