* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  background-color: #0000;
}

/* @font-face {
  font-family: "Oswald";
  src: url(Oswald/static/Oswald-SemiBold.ttf);
}

@font-face {
  font-family: "dancingScript";
  src: url(Dancing_Script/DancingScript-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "BebasNeue";
  src: url(fonts/BebasNeue-Regular.ttf);
}

/* 
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap'); */

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  position: relative;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.homeScreenAdd {
  position: absolute;
  top: 150%;
  left: 50%;
  background: #ececec;
  transform: translate(-50%, -50%) scale(0);
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1000;
  max-width: 80%;
  transition: 200ms ease-in-out;
  width: 330px;
}

.homeScreenAdd.active {
  transform: translate(-50%, -50%) scale(1);
  top: 75%;
}

.homeScreenAdd-header {
  padding: 10px;
  border-bottom: 1px solid black;
  font-size: 20px;
}

.homeScreenAdd-text {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.homeScreenAdd-close {
  cursor: pointer;
}
.info {
  position: absolute;
  top: 150%;
  left: 50%;
  background: #ececec;
  transform: translate(-50%, -50%) scale(0);
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1000;
  max-width: 90%;
  transition: 200ms ease-in-out;
  width: 350px;
}

.info.active {
  transform: translate(-50%, -50%) scale(1);
  top: 50%;
}

.info-div {
  color: black;
}

.info-header {
  padding: 20px;
  border-bottom: 1px solid black;
  font-size: 16px;
}

.info-text {
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.info-close {
  cursor: pointer;
}

#overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}

.sidebar {
  width: 350px;
  background-color: #777;
}

.manu-li {
  display: flex;
  text-decoration: none;
}

.header {
  height: 9%;
  /* background-color: #e5e5e5; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.main-area {
  /* background-color: #e5e5e5; */
  /* height: 80%; */
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.mainWrapper {
  height: 100%;
  width: 500px;
  border: 1px solid #777;
  border-radius: 10px;
  overflow: scroll;
}
/* 
.display {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  z-index: 1000;
} */

textarea {
  width: 100%;
  /* width: 400px; */
  /* height: 300px; */
  height: 50%;
  /* background-color: #cb3536; */
  outline: none;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #000;
  font-size: 54px;
  /* font-family: "Oswald"; */
  border: 1px solid #777;
  background-color: #e5e5e5;
  resize: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

input::placeholder {
  color: #3b3b3b;
}

.scroller-container {
  overflow: auto;
}

.scroller {
  height: 50px;
  width: 200%;
  display: flex;
  flex-direction: row;
}

li {
  display: flex;
  width: calc(100% / 4);
  justify-content: center;
  height: 60%;
  align-items: center;
  /* border: 1px solid white; */
  cursor: pointer;
}

/* a {
  height: 60%;
  align-items: center;
  display: flex;
  width: calc(100% / 4);
  justify-content: center;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  font-weight: 600;
} */

.bold {
  /* font-family: 'Oswald Regular', sans-serif; */
  font-family: "BebasNeue";
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  background-color: #cb3536;
  color: #000;
}

.casual {
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #e5e5e5;
  color: black;
}

.formal {
  font-family: "Times New Roman", Times, serif;
  background-color: #fff;
  color: black;
}

.techy {
  font-family: "Courier New", Courier, monospace;
  background-color: #000000;
  color: greenyellow;
}

.sassy {
  font-family: "Dancing Script", cursive;
  background-color: rgb(0, 149, 255);
  /* background: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(64,64,255,1) 35%, rgba(0,131,158,1) 100%); */
  color: #fff;
}

.btn {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 30%;
  /* position: relative; */
  /* background-color: blanchedalmond; */
  align-items: center;
}

button {
  background-color: white;
  color: black;
  font-family: "oswald";
  width: 40%;
  height: 6vh;
  /* justify-content: center; */
  text-align: center;
  /* position: absolute; */
  /* top: 40%; */
  /* margin-top: 20px; */
  border: none;
  cursor: pointer;
}

.footer {
  display: flex;
  /* position: absolute; */
  bottom: 0;
  /* height: 11%; */
  height: 60px;
  width: 100%;
  position: fixed;
  /* background-color: #e5e5e5; */
  justify-content: center;
  background-color: #000;
}

.footer ul {
  width: 500px;
  list-style: none;
  display: flex;
  flex-direction: row;
  border: 1px solid;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  /* padding-bottom: 20px; */
  /* height: 50px; */
  margin-bottom: 5px;
}

.footer a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  /* background: aquamarine; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.noti {
  position: relative;
}

#badge {
  position: absolute;
  top: 0;
  right: 0;
  /* top: -10px; */
  /* right: -10px; */
  /* left: 440px;
  bottom: 30px; */
  padding: 5px 5px;
  border-radius: 50%;
  background: red;
  color: white;
  /* display: block; */
}

#badge.bdHide {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 5px;
  border-radius: 50%;
  background: red;
  display: none;
}

/* .footer li {
  background-color: blue;
} */

/* li ul{
    border: 1px solid #000;
    border-spacing: 0;
  } */

.data {
  padding: 20px;
  border-bottom: 1px solid;
}

.date-title {
  border-bottom: 1px solid;
}

.date-title h2 {
  font-size: 20px;
}

.text {
  font-size: 18px;
}

.space {
  margin-bottom: 60px;
}

@media only screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}
